/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

mat-card.mat-card {
    box-shadow: none !important;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
}

.unsupported-msg {
    display: inline-block;
    font-style: italic;
    background-color: rgba(0,0,0,.1);
    padding: 2px 8px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;

    &::after {
        content: "Unsupported message";
    }
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
