.chats-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .chat {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 7px;

        &.active {
            background-color: rgba(103,58,183,.15);
        }

        .info-row {
            display: flex;
            justify-content: space-between;

            .username {
                font-weight: 500;
                font-size: 15px;
            }

            .date {
                white-space: nowrap;
            }
        }

        .message-row {
        }
    }
}