.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: none;
    flex-shrink: 0;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;

    @media (max-width: 720px) {
        padding: 10px;
        height: calc(100% - 64px);
    }

    @media (max-width: 599px) {
        height: calc(100% - 56px);
    }

    .chats-list {
        flex: 1 1 0px;
        min-width: 250px;
        display: flex;
        flex-direction: column;

        .comp-wrapper {
            flex-grow: 1;
        }
    }

    .separator {
        background-color: rgba(0,0,0,.26);
        width: 2px;
        min-width: 2px;
    }

    .messages-list {
        flex: 2 1 0px;
    }
}

@media (max-width: 720px) {
    .header {
        display: flex;
    }

    .separator {
        display: none;
    }

    .hidden {
        display: none !important;
    }
}
