<main class="container">
    <div class="chats-list">
        <app-chats-list
            *ngIf="chats$ | async as chats" 
            [chats]="chats"
            [activeChatId]="currentChatId$ | async"
            (chatClick)="onChatClick($event)"
        ></app-chats-list>
    </div>

    <div class="separator"></div>

    <div class="messages-list">
        <app-messages-list
            *ngIf="messages$ | async as messages"
            [chatId]="currentChatId$ | async"
            [messages]="messages"
        ></app-messages-list>
    </div>
</main>


